@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

#citcon-client-container {
  --placeholder-color: #ccc;
  --font-color: #4d4d4d;
  --font-color-2: #656D7D;
  --background-color: #f2f2f2;
  --box-outline-color: #656d7d;
  --error-front-color: #ff8080;
  --paypay-background-color: #F9C33A;
  --bootstrap-primary: #007bff;
}

.citcon-message {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #bd362f;
  color: white;
  padding: 15px 30px 15px 50px;
  margin: 10px;
  border-radius: 3px;
  min-width: 300px;
  opacity: .8;
  box-shadow: 0 0 12px #999;
  font-size: 12px;
}
.citcon-message:hover {
  opacity: 1;
  box-shadow: 0 0 12px #333;
  cursor: pointer;
}
.citcon-message-close {
  position: absolute;
  top: 17px;
  right: 15px;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAApUlEQVQ4jZWTQQrEIAwAQ/GwjytlWfq/UvbQN0oP04OxK5poN+DFOBOJRkREgABswEcGAazADoS8EYCDFCewDuBTzx5AEK1chimp4By7ADMQexIHjsCcD7iSIVxU8SRjeCB5Bj+QmPBkOF7O/qS5bnWrYU1j/4GtJrYSB47AW5f/TzrwUhRYXAlpMGq46Tb263zrYeq+cyVJw6SJoDfpf5Kf5B7nCxTFZsehfWOmAAAAAElFTkSuQmCC');
  background-size: contain;
  width: 12px;
  height: 12px;
}
.citcon-message-close:hover {
  opacity: 1;
}
.citcon-message-block {
  position: absolute;
  top: 21px;
  left: 15px;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACHElEQVRYhcWXPWsUURSGnxuWZQlLCBr8XEJYggQJouIPkCD+gID2KgiChYgBSSt22gliFRDBUiysBGtrC0URW00VY6HiRx6LGZLZuzfszOxufKu975w557nnzty5CzWkTqsv1HX1dp0cQ0lddUebau1cEyULnlRvqvO5dbhwuQ008rjz6i21W5soUXxB/ZHP9p2K+shetdSu+jcfr6szZfKX6cBFoJX/XgD2kc+4oCbQLeQ7AJwbFcD+aDyZAGgUIKvkLhXUjMathNdMeKXUB6CeVe+ry7mVancKKo4r1YGem9RF4GXu31CPlgSYTHi1lmCpUHACmKV/bVMA7URcKQ2ibANTCYC42BRZF6rkLhXUJHulBkHNJLxSGgTQAjqRN022FxTVAQ5WzA30P2Cx5unvwCxwJPJOAYfKFKwKsEL/TK4k7ltOeCPpQDx7gGMJL/UG9ACoLWArhPBr16ARazu3ehnYADbVpWLQoA4MDaCeAB6ys3fMJSnHAaA2gDV6N67XewXQBFaB0wXvI/C2GDTOJbhEdn4oai2E0GOME2AxGn8BHsRB41yCWCshhG//C+AV8CR1YS8AfgLX4rXfS4A7IYQPu12MAb6PuPgb4F7paHWucLYfVr/VM5WR1WcjArhbuXgO0FE/D1n8qdk2XE/qcfV9jcIb6nUr/FlNvxtsf7+vAhfIvmDx2X8L+EP24H4CngOPQwhfq0z2H37A1mz2R8vrAAAAAElFTkSuQmCC');
  background-size: contain;
  width: 28px;
  height: 28px;
}
.citcon-message-title {
  font-weight: 700;
}
.citcon-message-desc {
  margin-top: 5px;
  max-width: 300px;
}

.citcon-banner {
  background-color: var(--background-color);
  border-radius: 10px;
  position: relative;
}
.citcon-banner-label1 {
  font-weight: bold;
  color: var(--font-color);
}
.citcon-banner-label2 {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--font-color-2);
}
.citcon-banner-label2-link {
  font-size: 0.6em;
  cursor: pointer;
  margin-left: 10px;
  color: royalblue !important;
  user-select: none;
}
.citcon-banner-label2-link:hover {
  text-decoration: underline !important;
}
.citcon-banner-paynow {
  display: none;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  font-weight: 700;
  background-color: var(--bootstrap-primary);
  color: white;
  width: 100%;
  user-select: none;
  cursor: pointer;
}
.citcon-banner.active .citcon-banner-paynow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.citcon-banner.active .citcon-banner-paynow.citcon-banner-paynow-paypal {
  background-color: var(--paypay-background-color);
  color: var(--font-color);
}

.citcon-banner-paynow-paypal img {
  width: 140px;
  margin-right: 10px;
}

.citcon-popup {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid var(--box-outline-color);
  border-radius: 3px;
  z-index: 1;
  font-size: 0.8em;
}
.citcon-popup-installment {
  width: 300px;
  top: 50%;
  left: 50%;
  margin-top: -110px;
  margin-left: -150px;
}

.citcon-popup.active {
  display: block;
}
.citcon-popup-heading {
  background-color: var(--placeholder-color);
  padding: 5px 10px;
  position: relative;
}
.citcon-popup-heading--close {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 1px;
  padding: 5px 10px 5px;
  cursor: pointer;
}
.citcon-popup-heading--close:hover {
  background-color: var(--background-color);
}
.citcon-popup-content--installment {
  border-bottom: 1px solid var(--placeholder-color);
  padding: 10px;
  margin-bottom: 50px;
}

.citcon-popup-footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
  align-items: center;
}
.citcon-popup-footer--btn {
  border: 1px solid var(--placeholder-color);
  padding: 3px 5px;
  margin-right: 10px;
  border-radius: 3px;
  color: var(--font-color-2);
  cursor: pointer;
}
.citcon-popup-footer--btn:hover {
  color: var(--font-color);
  border: 1px solid var(--font-color-2);
  background-color: #fafafa;
}
.citcon-installment-term {
  padding: 7px 0 7px 10px;
}
.citcon-installment-term label {
  margin-left: 6px;
  margin-bottom: 0;
}
.citcon-installment-term input {
  vertical-align: middle;
}

.citcon-card-type {
  display: flex;
  justify-content: right;
}
.citcon-card-type img {
  flex: 0 1 auto;
  max-width: 45px;
  opacity: 0.5;
  padding-left: 5px;
}
.citcon-card-type img.active,
.citcon-card-type img:hover {
  opacity: 1;
}

#citcon-dropin {
  margin-top: 20px;
  display: none;
}
#citcon-dropin.active {
  display: block;
}
.citcon-banner-dropin input:focus,
.citcon-banner-dropin select:focus {
  outline: none;
}
.citcon-control {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid var(--box-outline-color);
}
.citcon-control .invalid,
/* .citcon-control input.invalid, */
.citcon-label-control.invalid input,
.citcon-multi-control input.invalid {
  border: 2px solid var(--error-front-color);
}
.citcon-control:first-child {
  margin-top: 0;
}
.citcon-control label,
.citcon-multi-control label,
.citcon-label-control label {
  margin-bottom: 3px;
  font-size: 0.8em;
  width: 100%;
}
.citcon-control input {
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  border: 0;
  border-radius: 10px;
}
.citcon-multi-control input,
.citcon-label-control input {
  width: 100%;
  font-size: 14px;
  padding: 10px 10px;
  border: 1px solid var(--box-outline-color);
  border-radius: 10px;
}
.citcon-all-in-one {
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--box-outline-color);
}
.citcon-all-in-one input {
  min-width: 0;
  border: 0;
  border-radius: 0;
}
.citcon-all-in-one__wrapper {
  flex: 1;
  display: flex;
}
.citcon-control .citcon-all-in-one__card-number {
  flex: 1;
  border-radius: 10px;
}
.citcon-control .citcon-all-in-one__expiry {
  flex: 0 0 100px;
  margin-left: 10px;
}
.citcon-control .citcon-all-in-one__cvv {
  flex: 0 0 100px;
  margin-left: 10px;
  border-radius: 10px;
}
.citcon-municipal,.citcon-Document {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.citcon-municipal select,.citcon-Document select {
  width: 100%;
  font-size: 14px;
  padding: 12px 5px;
  border-radius: 10px;
  border: 1px solid var(--box-outline-color);
}
.citcon-municipal__country,.citcon-Document__document {
  flex: 1;
}
.citcon-municipal__territory {
  flex: 0 0 100px;
  margin-left: 10px;
}
.citcon-municipal__mailcode {
  flex: 0 0 100px;
  margin-left: 10px;
}
.citcon-Document__documentID{
  flex: 0 0 300px;
  margin-left: 10px; 
}
.citcon-phone,
.citcon-email,
.citcon-document-id,
.citcon-address {
  margin-top: 5px;
}
.citcon-address .citcon-address__label:nth-of-type(2) {
  margin-top: 5px;
}
.citcon-error {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--error-front-color);
}

#vault-dropin {
  display: none;
  margin-top: 10px;
}
#vault-dropin.active {
  display: block;
}
.vault-dropin-label {
  font-size: 14px;
  font-weight: 600;
}
.vault-dropin-option {
  display: flex;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
}
.vault-dropin-option:first-child {
  margin-top: 0;
}
.vault-dropin-option:hover,
.vault-dropin-option.selected {
  background-color: #BAD0FD;
}
.vault-dropin-option > div {
  min-height: 50px;
}
.vault-dropin-option--logo {
  flex: 1 1 auto;
  max-width: 70px;
  min-width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vault-dropin-option--logo > img {
  width: 70%;
  max-height: 45px;
}
.vault-dropin-option--desc {
  flex: 6 1 auto;
  display: flex;
  align-items: center;
}
.vault-dropin-option--desc span {
  font-weight: 700;
  margin-right: 5px;
}
.vault-dropin-option--expiry {
  flex: 0 0 130px;
  display: flex;
  align-items: center;
}
.vault-dropin-option--expiry span {
  font-weight: 700;
  margin-right: 5px;
}
.citcon-save-card {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.citcon-save-card label {
  padding-left: 5px;
  font-size: 12px;
  margin-bottom: 0;
}
.round-corner-pay-now-button{
  background-color: #1b62f6;
  color: #ffffff;
  border-radius: 30px;
}
.citcon-error-electment{
  padding-left: 10px;
  color:#ff0000;
}